.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --gap: 30px;
}

h1,
h2,
h3,
p,
ul {
  margin: 0;
  padding: 0;
}

body {
  color: var(--primary-text-color);
  letter-spacing: 0.03em;
  font-family: 'Roboto', sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}



.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.section--padding {
  padding-top: 94px;
  padding-bottom: 0;
}

.section--color {
  background-color: #f5f4fa;
}

/* ----------------header---------------- */

.header {
  border-bottom: 1px solid #ececec;
  padding: 25px 0;
}

.header__container {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.header__nav {
  display: flex;
  align-items: center;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-size: 26px;
  line-height: 1.19;
  font-weight: 700;
  letter-spacing: 0.03em;
  color: #000;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus {
  color: var(--accent-color);
}

.logo--accent-color {
  color: var(--accent-color);
}

.header__menu {
  display: flex;
  margin-left: 93px;
  list-style: none;
}

.header__current {
  color: var(--primary-text-color);
  position: relative;
  text-decoration: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__current::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  bottom: -27px;
  left: 0;
  border-radius: 2px;
  background-color: transparent;
}

.header__current--color {
  color: var(--accent-color);
}

.header__current--color::after {
  background-color: var(--accent-color);
}

.header__li:not(:last-child) {
  margin-right: 50px;
}

.header__mail-tel {
  display: flex;
  margin-left: auto;
  align-items: center;
  list-style: none;
}

.header__href {
  color: var(--secondary-text-color);
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header__href:hover,
.header__href:focus {
  color: var(--accent-color);
}

.header__icon {
  margin-right: 10px;
  width: 16px;
  height: 12px;
  fill: currentColor;
}

.header__icon--tel {
  margin-right: 10px;
  width: 12px;
  height: 16px;
  fill: currentColor;
}

/* ----------------main index.html---------------- */

.order {
  max-width: 1600px;
  text-align: center;
  margin: 0 auto;
  padding: 200px 0;
  height: 600px;
  background-image: linear-gradient(to right, #2f303a66, #2f303a66), url(../images/index/bg.jpg);
}

.order--mobile {
  background-image: linear-gradient(to right, #2f303a66, #2f303a66),
   url(../images/index/bg-mobile.jpg);
}

.order__h1 {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 30px;
}

.order__h1--span {
  display: block;
}

.order__button {
  background-color: var(--accent-color);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  font-family: inherit;
  padding: 10px 32px;
  border: none;
}

.order__backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order__backdrop--is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.order__modal {
  width: 528px;
  /* height: 581px; */
  background-color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.order__close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  top: 8px;
  right: 8px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  color: #000;
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order__close:hover,
.order__close:focus {
  color: var(--accent-color);
}

.order__close-svg {
  width: 11px;
  height: 11px;
}

.order__p {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 12px;
}

.order__form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.order__label {
  display: block;
  text-align: left;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
  margin-bottom: 4px;
}

.order__input--position {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.order__input {
  display: block;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-width: 0;
}

.order__svg {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: var(--primary-text-color);
  fill: currentColor;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.order__svg--name {
  width: 12px;
  height: 12px;
}

.order__svg--tel {
  width: 13px;
  height: 13px;
}

.order__svg--email {
  width: 15px;
  height: 12px;
}

.order__input:focus + .order__svg {
  color: var(--accent-color);
}

.order__comment {
  display: block;
  width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-bottom: 20px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline-width: 0;
}

.order__comment::placeholder {
  padding: 12px 16px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.order__input:focus,
.order__comment:focus {
  border: 1px solid var(--accent-color);
}

.order__checkbox--position {
  margin-left: 14px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 425px;
}

.order__checkbox:checked + .order__checkbox--custom {
  fill: var(--accent-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  /* background-image: url(../images/index/checka.svg); */
  /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cmask id='a' maskUnits='userSpaceOnUse' x='2' y='3' width='13' height='10' fill='%23000'%3E%3Cpath fill='%23fff' d='M2 3h13v10H2z'/%3E%3Cpath d='M6.496 10.312 3.888 7.824 3 8.665 6.496 12 14 4.841 13.118 4l-6.622 6.312Z'/%3E%3C/mask%3E%3Cpath d='M6.496 10.312 3.888 7.824 3 8.665 6.496 12 14 4.841 13.118 4l-6.622 6.312Z' fill='%23fff'/%3E%3Cpath d='M6.496 10.312 3.888 7.824 3 8.665 6.496 12 14 4.841 13.118 4l-6.622 6.312Z' stroke='%23fff' stroke-width='.4' mask='url(%23a)'/%3E%3C/svg%3E"); */
  /* background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctitle%3Echeck16-15t%3C/title%3E%3Cpath fill='%23fff' d='M9.080 11.816l-0.105-0.101-0.105 0.099-1.469 1.393 0.116 0.111 5.434 5.183 0.105-0.101 11.554-11.022-0.116-0.11-1.45-1.383-0.105 0.101-9.989 9.521-3.87-3.692z'%3E%3C/path%3E%3C/svg%3E"); */
}

.order__checkbox:focus + .order__checkbox--custom {
  border-color: var(--accent-color);
}

.order__checkbox--custom {
  width: 16px;
  height: 15px;
  border: 2px solid var(--primary-text-color);
  border-radius: 2px;
  fill: #fff;
  /* background-size: contain; */
  /* background-origin: border-box; */
}

.order__span {
  /* margin-left: 7px; */
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.order__span--color {
  text-decoration-line: underline;
  color: var(--accent-color);
}

.order__submit {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #fff;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  align-self: center;
}

.order__submit:hover {
  background-color: #188ce8;
}

.features__ul {
  display: flex;
  list-style: none;
}

.features__li {
  width: 270px;
}

.features__li:not(:last-child) {
  margin-right: 30px;
}

.features__div {
  height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.features__svg {
  width: 70px;
  height: 70px;
}

.features__h3 {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: 700;
}

.features__p {
  font-size: 14px;
  line-height: 1.71;
  color: #757575;
}

.we-do__h2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.we-do__ul {
  display: flex;
  list-style: none;
}

.we-do__li:not(:last-child) {
  margin-right: 30px;
}

.we-do__div {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: relative;
  z-index: -1;
}

.we-do__p {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.team__h2 {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  font-weight: 700;
  margin-bottom: 50px;
}

.team__ul {
  display: flex;
  list-style: none;
}

.team__li {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team__li:not(:last-child) {
  margin-right: 30px;
}

.team__div {
  padding: 30px 0;
}

.team__h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team__p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: #757575;
  margin-bottom: 16px;
}

.team__cardset {
  display: flex;
  justify-content: center;
  list-style: none;
}

.team__item {
  width: 44px;
  height: 44px;
}

.team__item:not(:last-child) {
  margin-right: 10px;
}

.team__link {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team__link:hover,
.team__link:focus {
  background-color: var(--accent-color);
  color: #fff;
  fill: currentColor;
}

.team__svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}

.clients__h2 {
  font-size: 36px;
  line-height: 1.51;
  text-align: center;
  padding-bottom: 50px;
}

.clients__ul {
  display: flex;
  list-style: none;
}

.clients__li {
  width: 170px;
  height: 92px;
}

.clients__li:not(:last-child) {
  margin-right: 30px;
}

.clients__links {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients__links:hover,
.clients__links:focus {
  border: 1px solid var(--accent-color);
  fill: var(--accent-color);
}

.clients__svg {
  width: 106px;
  height: 60px;
}

/* ----------------portfolio.html---------------- */

.buttons__ul {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  list-style: none;
}

.buttons__li:not(:last-child) {
  margin-right: 8px;
}

.buttons:hover,
.buttons:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  background-color: var(--accent-color);
  color: #fff;
}

.buttons {
  text-decoration: none;
  background-color: #f5f4fa;
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  font-family: inherit;
  border-radius: 4px;
  color: var(--primary-text-color);
  border: none;
  padding: 6px 22px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__ul {
  display: flex;
  flex-wrap: wrap;
  margin-left: calc(-1 * var(--gap));
  margin-top: calc(-1 * var(--gap));
  list-style: none;
}

.portfolio__ul > .portfolio__li {
  flex-basis: calc(100% / 3 - var(--gap));
  margin-left: var(--gap);
  margin-top: var(--gap);
  overflow: hidden;
}

.portfolio__links:hover,
.portfolio__links:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.portfolio__links {
  display: block;
  position: relative;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  text-decoration: none;
}

.portfolio__div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.9;
  background-color: var(--accent-color);
  color: #fff;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio__links:hover .portfolio__div,
.portfolio__links:focus .portfolio__div {
  transform: translateY(0);
}

.portfolio__text {
  padding: 63px 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
}

.portfolio__wrapper {
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  position: relative;
  background-color: #fff;
}

.portfolio__h3 {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--primary-text-color);
}

.portfolio__p {
  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

/* ----------------footer---------------- */

.footer__wrapper {
  background-color: #2f303a;
  padding: 60px 0;
}

.footer__container {
  display: flex;
  align-items: baseline;
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.footer__logo {
  margin-right: 70px;
}

.logo--inverse {
  color: #fff;
}

.footer__address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: #fff;
  margin-top: 20px;
}

.footer__p {
  margin-bottom: 9px;
}

.footer__list {
  list-style: none;
}

.footer__item:not(:last-child) {
  margin-bottom: 9px;
}

.footer__href {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer__join {
  margin-right: 93px;
}

.footer__invite {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer__catalogue {
  display: flex;
  list-style: none;
}

.footer__unit {
  width: 44px;
  height: 44px;
}

.footer__unit:not(:last-child) {
  margin-right: 10px;
}

.footer__link {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer__link:hover,
.footer__link:focus {
  background-color: var(--accent-color);
}

.footer__svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}

.footer__inner {
  width: 570px;
}

.footer__passage {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: #fff;
  margin-bottom: 20px;
}

.footer__inside {
  display: flex;
  justify-content: space-between;
}

.footer__input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background-color: #2f303a;
  color: #fff;
  display: flex;
  align-items: center;
}

.footer__input::placeholder {
  /* padding: 15px 295px 15px 16px; */
  padding-left: 16px;
  font-size: 16px;
  line-height: 1.25;
  color: rgba(255, 255, 255, 0.6);
}

.footer__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background-color: var(--accent-color);
  display: flex;
  align-items: center;
}

.footer__submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #fff;
  margin-left: 29px;
}

.footer__icon {
  background-color: var(--accent-color);
  width: 24px;
  height: 24px;
  fill: #fff;
  margin-left: 10px;
}
