.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and (max-device-width: 767px) {
    max-width: 480px;
  }

  @media screen and (min-device-width: 768px) and (max-device-width: 1199px) {
    width: 768px;
  }

  @media screen and (min-device-width: 1200px) {
    width: 1200px;
  }
}
