.clients {
  @media screen and (max-device-width: 767px) {
    list-style: none;

    &__h2 {
      font-size: 28px;
      line-height: 1.18;
      text-align: center;
      margin-bottom: 30px;
    }

    &__li {
      width: calc((100% - 30px) / 2);
      height: 92px;
      display: inline-block;
    }

    &__li:nth-child(-n + 4) {
      margin-bottom: 30px;
    }

    &__li:nth-child(2n + 1) {
      margin-right: 30px;
    }

    &__links {
      height: 100%;
      width: 100%;
      border: 1px solid #afb1b8;
      border-radius: 4px;
      fill: #afb1b8;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      display: block;
      position: relative;
      z-index: -1;
    }

    &__links:hover,
    &__links:focus {
      border: 1px solid var(--accent-color);
      fill: var(--accent-color);
    }

    &__svg {
      width: 106px;
      height: 60px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1199px) {
    list-style: none;

    &__h2 {
      font-size: 28px;
      line-height: 1.18;
      text-align: center;
      margin-bottom: 30px;
    }

    &__li {
      width: 226px;
      display: inline-block;
      height: 92px;
    }

    &__li:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &__li:nth-child(-n + 3) {
      margin-bottom: 30px;
    }

    &__links {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #afb1b8;
      border-radius: 4px;
      fill: #afb1b8;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__links:hover,
    &__links:focus {
      border: 1px solid var(--accent-color);
      fill: var(--accent-color);
    }

    &__svg {
      width: 106px;
      height: 60px;
    }
  }
  @media screen and (min-device-width: 1200px) {
    display: flex;
    list-style: none;

    &__h2 {
      font-size: 36px;
      line-height: 1.51;
      text-align: center;
      margin-bottom: 50px;
    }

    &__li {
      width: 170px;
      height: 92px;
    }

    &__li:not(:last-child) {
      margin-right: 30px;
    }

    &__links {
      height: 100%;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 1px solid #afb1b8;
      border-radius: 4px;
      fill: #afb1b8;
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__links:hover,
    &__links:focus {
      border: 1px solid var(--accent-color);
      fill: var(--accent-color);
    }

    &__svg {
      width: 106px;
      height: 60px;
    }
  }
}
