.footer {
  @media screen and (max-device-width: 767px) {
    background-color: var(--footer-bg-color);
    padding: 60px 0;

    &__container {
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
      text-align: center;
    }

    &__logo {
      margin-bottom: 60px;
    }

    &__address {
      font-style: normal;
      font-size: 14px;
      line-height: 1.71;
      color: #fff;
      margin-top: 20px;
    }

    &__p {
      margin-bottom: 8px;
    }

    &__list {
      list-style: none;
    }

    &__item:not(:last-child) {
      margin-bottom: 8px;
    }

    &__href {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
    }

    &__join {
      margin-bottom: 60px;
    }

    &__invite {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 20px;
    }

    &__catalogue {
      list-style: none;
    }

    &__unit {
      width: 44px;
      height: 44px;
      display: inline-block;
    }

    &__unit:not(:last-child) {
      margin-right: 10px;
    }

    &__link {
      display: block;
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      position: relative;
    }

    &__link:hover,
    &__link:focus {
      background-color: var(--accent-color);
    }

    &__svg {
      width: 20px;
      height: 20px;
      fill: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    // &__inner {
    //   margin-left: auto;
    //   margin-right: auto;
    // }

    &__passage {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 20px;
    }

    // &__inside {
    // }

    &__input {
      display: block;
      width: 450px;
      @media screen and (max-device-width: 480px) {
        width: 100%;
      }
      height: 50px;
      margin-right: auto;
      margin-left: auto;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      background-color: var(--footer-bg-color);
      color: #fff;
      margin-bottom: 20px;
    }

    &__input::placeholder {
      /* padding: 15px 295px 15px 16px; */
      padding-left: 16px;
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
    }

    &__button {
      width: 200px;
      height: 50px;
      border-radius: 4px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      background-color: var(--accent-color);
      padding: 0;
      text-align: start;
    }

    &__submit {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      color: #fff;
      margin-left: 29px;
      vertical-align: middle;
    }

    &__icon {
      background-color: var(--accent-color);
      width: 24px;
      height: 24px;
      fill: #fff;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1199px) {
    background-color: var(--footer-bg-color);
    padding: 60px 0;

    &__container {
      display: flex;
      align-items: baseline;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
    }

    &__logo {
      width: 232px;
    }

    &__address {
      font-style: normal;
      font-size: 14px;
      line-height: 1.71;
      color: #fff;
      margin-top: 20px;
    }

    &__p {
      margin-bottom: 8px;
    }

    &__list {
      list-style: none;
    }

    &__item:not(:last-child) {
      margin-bottom: 8px;
    }

    &__href {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
    }

    &__join {
      width: 206px;
    }

    &__invite {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 20px;
    }

    &__catalogue {
      display: flex;
      list-style: none;
    }

    &__unit {
      width: 44px;
      height: 44px;
    }

    &__unit:not(:last-child) {
      margin-right: 10px;
    }

    &__link {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
      background-color: var(--accent-color);
    }

    &__svg {
      width: 20px;
      height: 20px;
      fill: #fff;
    }

    &__inner {
      width: 450px;
      margin-top: 60px;
    }

    &__passage {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: #fff;
    }

    &__inside {
      margin-top: 20px;
    }

    &__input {
      width: 450px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      background-color: var(--footer-bg-color);
      color: #fff;
    }

    &__input::placeholder {
      /* padding: 15px 295px 15px 16px; */
      padding-left: 16px;
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
    }

    &__button {
      width: 200px;
      height: 50px;
      border-radius: 4px;
      background-color: var(--accent-color);
      margin-top: 20px;
      text-align: start;
    }

    &__submit {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      color: #fff;
      margin-left: 29px;
      vertical-align: middle;
    }

    &__icon {
      background-color: var(--accent-color);
      width: 24px;
      height: 24px;
      fill: #fff;
      margin-left: 10px;
      vertical-align: middle;
    }
  }
  @media screen and (min-device-width: 1200px) {
    background-color: var(--footer-bg-color);
    padding: 60px 0;

    &__container {
      display: flex;
      align-items: baseline;
      width: 1200px;
      margin: 0 auto;
      padding-left: 15px;
      padding-right: 15px;
    }

    &__logo {
      margin-right: 70px;
    }

    &__address {
      font-style: normal;
      font-size: 14px;
      line-height: 1.71;
      color: #fff;
      margin-top: 20px;
    }

    &__p {
      margin-bottom: 9px;
    }

    &__list {
      list-style: none;
    }

    &__item:not(:last-child) {
      margin-bottom: 9px;
    }

    &__href {
      color: rgba(255, 255, 255, 0.6);
      text-decoration: none;
    }

    &__join {
      margin-right: 93px;
    }

    &__invite {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 20px;
    }

    &__catalogue {
      display: flex;
      list-style: none;
    }

    &__unit {
      width: 44px;
      height: 44px;
    }

    &__unit:not(:last-child) {
      margin-right: 10px;
    }

    &__link {
      width: 100%;
      height: 100%;
      background-color: rgba(255, 255, 255, 0.1);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__link:hover,
    &__link:focus {
      background-color: var(--accent-color);
    }

    &__svg {
      width: 20px;
      height: 20px;
      fill: #fff;
    }

    &__inner {
      width: 570px;
    }

    &__passage {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 20px;
    }

    &__inside {
      display: flex;
      justify-content: space-between;
    }

    &__input {
      width: 358px;
      height: 50px;
      border: 1px solid rgba(255, 255, 255, 0.3);
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      background-color: var(--footer-bg-color);
      color: #fff;
      display: flex;
      align-items: center;
    }

    &__input::placeholder {
      /* padding: 15px 295px 15px 16px; */
      padding-left: 16px;
      font-size: 16px;
      line-height: 1.25;
      color: rgba(255, 255, 255, 0.6);
    }

    &__button {
      width: 200px;
      height: 50px;
      border-radius: 4px;
      background-color: var(--accent-color);
      display: flex;
      align-items: center;
    }

    &__submit {
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      color: #fff;
      margin-left: 29px;
    }

    &__icon {
      background-color: var(--accent-color);
      width: 24px;
      height: 24px;
      fill: #fff;
      margin-left: 10px;
    }
  }
}
