.nav-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__button {
    border: none;
    background-color: transparent;
    margin-left: auto;
  }

  &__menu {
    width: 40px;
    height: 40px;
    color: #000;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px) {
      display: none;
    }
  }

  &__menu:hover,
  &__menu:focus {
    color: var(--accent-color);
  }

  &__button &__icon-menu {
    display: none;
  }

  &__button.nav-mobile__button--is-open &__icon-close {
    display: none;
  }

  &__button.nav-mobile__button--is-open &__icon-menu {
    display: block;
  }
}
