.nav-mobile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;

  &__button {
    display: inline-flex;
    margin: 0;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__menu {
    width: 40px;
    height: 40px;
    color: #000;
    fill: currentColor;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  &__menu:hover, &__menu:focus {
    color: var(--accent-color);
  }

  &__button &__icon-close {
    display: none;
  }

  &__button.nav-mobile__button--is-open &__icon-close {
    display: block;
  }
  
  &__button.nav-mobile__button--is-open &__icon-menu {
    display: none;
  }
}


  .menu-container {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 20px;
    text-align: center;
    font-size: 20px;
    background-color: antiquewhite;
  }