.order {
  @media screen and (max-device-width: 767px) {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-size: 480px 400px;
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url(../images/index/bg-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 118px;
    padding-bottom: 118px;

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, #2f303a66, #2f303a66),
        url(../images/index/bg-mobile@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, #2f303a66, #2f303a66),
        url(../images/index/bg-mobile@3x.jpg);
    }

    &__h1 {
      font-weight: 900;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 30px;
      font-size: 26px;
      line-height: 1.62;
    }

    &__h1--span {
      display: block;
    }

    &__button {
      background-color: var(--accent-color);
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      font-family: inherit;
      padding: 10px 32px;
      border: none;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    &__backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      opacity: 1;
      visibility: visible;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
      overflow-y: scroll;
      z-index: 1;

      &--is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }

    &__modal {
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 4px;
      padding: 40px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
      width: calc(100% - 7%); //480/450=7%
      margin-top: 93px;
      // height: 609px;
    }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      top: 8px;
      right: 8px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #000;
      fill: currentColor;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__close:hover,
    &__close:focus {
      color: var(--accent-color);
    }

    &__close-svg {
      width: 11px;
      height: 11px;
    }

    &__p {
      font-weight: 700;
      font-size: 20px;
      text-align: center;
      margin-bottom: 12px;
      line-height: 1.5;
    }

    &__form {
      display: block;
    }

    &__label {
      display: block;
      text-align: left;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: var(--secondary-text-color);
      margin-bottom: 4px;
    }

    &__input--position {
      position: relative;
      margin-bottom: 10px;
      width: 100%;
    }

    &__input {
      display: block;
      width: 100%;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding-left: 42px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline-width: 0;
    }

    &__svg {
      position: absolute;
      left: 14px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--primary-text-color);
      fill: currentColor;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &--name {
        width: 12px;
        height: 12px;
      }

      &--tel {
        width: 13px;
        height: 13px;
      }

      &--email {
        width: 15px;
        height: 12px;
      }
    }

    &__input:focus + .order__svg {
      color: var(--accent-color);
    }

    &__comment {
      display: block;
      width: 100%;
      height: 120px;
      resize: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      margin-bottom: 20px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline-width: 0;
    }

    &__comment::placeholder {
      padding: 12px 16px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }

    &__input:focus,
    &__comment:focus {
      border: 1px solid var(--accent-color);
    }

    &__checkbox--position {
      text-align: left;
    }

    &__tag {
      font-size: 0;
      margin-right: 8px;
    }

    &__checkbox:checked + &__checkbox--custom {
      fill: var(--accent-color);
      background-color: var(--accent-color);
      border-color: var(--accent-color);
      /* background-image: url(../images/index/checka.svg); */
      /* background-image: url("data:image/svg+xml;charset=utf8,%3Csvg width='16' height='15' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='16' height='15' rx='2' fill='%232196F3'/%3E%3Cmask id='a' maskUnits='userSpaceOnUse' x='2' y='3' width='13' height='10' fill='%23000'%3E%3Cpath fill='%23fff' d='M2 3h13v10H2z'/%3E%3Cpath d='M6.496 10.312 3.888 7.824 3 8.665 6.496 12 14 4.841 13.118 4l-6.622 6.312Z'/%3E%3C/mask%3E%3Cpath d='M6.496 10.312 3.888 7.824 3 8.665 6.496 12 14 4.841 13.118 4l-6.622 6.312Z' fill='%23fff'/%3E%3Cpath d='M6.496 10.312 3.888 7.824 3 8.665 6.496 12 14 4.841 13.118 4l-6.622 6.312Z' stroke='%23fff' stroke-width='.4' mask='url(%23a)'/%3E%3C/svg%3E"); */
      /* background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='32' height='32' viewBox='0 0 32 32'%3E%3Ctitle%3Echeck16-15t%3C/title%3E%3Cpath fill='%23fff' d='M9.080 11.816l-0.105-0.101-0.105 0.099-1.469 1.393 0.116 0.111 5.434 5.183 0.105-0.101 11.554-11.022-0.116-0.11-1.45-1.383-0.105 0.101-9.989 9.521-3.87-3.692z'%3E%3C/path%3E%3C/svg%3E"); */
    }

    &__checkbox:focus + &__checkbox--custom {
      border-color: var(--accent-color);
    }

    &__checkbox--custom {
      width: 16px;
      height: 15px;
      border: 2px solid var(--primary-text-color);
      border-radius: 2px;
      fill: #fff;
      /* background-size: contain; */
      /* background-origin: border-box; */
    }

    &__span {
      color: var(--secondary-text-color);
      font-size: 12px;
      line-height: 1.17;
    }

    &__span--color {
      text-decoration-line: underline;
      color: var(--accent-color);
    }

    &__submit {
      margin-top: 30px;
      width: 200px;
      height: 50px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      background-color: var(--accent-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      align-self: center;
    }

    &__submit:hover {
      background-color: #188ce8;
    }
  }

  @media screen and (min-device-width: 768px) and (max-device-width: 1199px) {
    width: 768px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 118px;
    padding-bottom: 118px;
    height: 400px;
    background-size: cover;
    background-image: linear-gradient(to right, #2f303a66, #2f303a66),
      url(../images/index/bg-tablet.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, #2f303a66, #2f303a66),
        url(../images/index/bg-tablet@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, #2f303a66, #2f303a66),
        url(../images/index/bg-tablet@3x.jpg);
    }

    &__h1 {
      font-weight: 900;
      font-size: 26px;
      line-height: 1.62;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 30px;
    }

    &__h1--span {
      display: block;
    }

    &__button {
      background-color: var(--accent-color);
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      font-family: inherit;
      padding: 10px 32px;
      border: none;
    }

    &__backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      opacity: 1;
      visibility: visible;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &--is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }

    &__modal {
      width: 528px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 4px;
      padding: 40px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

      &--mobile {
        width: 450px;
      }
    }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      top: 8px;
      right: 8px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #000;
      fill: currentColor;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__close:hover,
    &__close:focus {
      color: var(--accent-color);
    }

    &__close-svg {
      width: 11px;
      height: 11px;
    }

    &__p {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      margin-bottom: 12px;

      &--mobile {
        line-height: 1.5;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &--mobile {
        display: block;
      }
    }

    &__label {
      display: block;
      text-align: left;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: var(--secondary-text-color);
      margin-bottom: 4px;
    }

    &__input--position {
      position: relative;
      margin-bottom: 10px;
      width: 100%;
    }

    &__input {
      display: block;
      width: 100%;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding-left: 42px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline-width: 0;
    }

    &__svg {
      position: absolute;
      left: 14px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--primary-text-color);
      fill: currentColor;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &--name {
        width: 12px;
        height: 12px;
      }

      &--tel {
        width: 13px;
        height: 13px;
      }

      &--email {
        width: 15px;
        height: 12px;
      }
    }

    &__input:focus + .order__svg {
      color: var(--accent-color);
    }

    &__comment {
      display: block;
      width: 100%;
      height: 120px;
      resize: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      margin-bottom: 20px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline-width: 0;
    }

    &__comment::placeholder {
      padding: 12px 16px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }

    &__input:focus,
    &__comment:focus {
      border: 1px solid var(--accent-color);
    }

    &__checkbox--position {
      margin-left: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 425px;

      &--mobile {
        display: block;
        margin-left: 0;
        width: auto;
      }
    }

    &__tag-mobile {
      font-size: 0;
    }

    &__checkbox:checked + &__checkbox--custom {
      fill: var(--accent-color);
      background-color: var(--accent-color);
      border-color: var(--accent-color);
    }

    &__checkbox:focus + &__checkbox--custom {
      border-color: var(--accent-color);
    }

    &__checkbox--custom {
      width: 16px;
      height: 15px;
      border: 2px solid var(--primary-text-color);
      border-radius: 2px;
      fill: #fff;
    }

    &__span {
      font-size: 14px;
      line-height: 1.71;
      color: var(--secondary-text-color);

      &--mobile {
        font-size: 12px;
        line-height: 1.17;
      }
    }

    &__span--color {
      text-decoration-line: underline;
      color: var(--accent-color);
    }

    &__submit {
      margin-top: 30px;
      width: 200px;
      height: 50px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      background-color: var(--accent-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      align-self: center;
    }

    &__submit:hover {
      background-color: #188ce8;
    }
  }
  @media screen and (min-device-width: 1200px) {
    max-width: 1600px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    height: 600px;
    background-size: cover;
    background-image: linear-gradient(to right, #2f303a66, #2f303a66), url(../images/index/bg.jpg);

    @media (min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
      background-image: linear-gradient(to right, #2f303a66, #2f303a66),
        url(../images/index/bg@2x.jpg);
    }

    @media (min-device-pixel-ratio: 3), (min-resolution: 288dpi), (min-resolution: 3dppx) {
      background-image: linear-gradient(to right, #2f303a66, #2f303a66),
        url(../images/index/bg@3x.jpg);
    }

    &__h1 {
      font-weight: 900;
      font-size: 44px;
      line-height: 1.36;
      text-align: center;
      letter-spacing: 0.06em;
      text-transform: uppercase;
      color: #fff;
      margin-bottom: 30px;
    }

    &__h1--mobile {
      font-size: 26px;
      line-height: 1.62;
    }

    &__h1--span {
      display: block;
    }

    &__button {
      background-color: var(--accent-color);
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      font-family: inherit;
      padding: 10px 32px;
      border: none;
    }

    &__backdrop {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.2);
      opacity: 1;
      visibility: visible;
      transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
        visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &--is-hidden {
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
      }
    }

    &__modal {
      width: 528px;
      background-color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      border-radius: 4px;
      padding: 40px;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);

      &--mobile {
        width: 450px;
      }
    }

    &__close {
      position: absolute;
      top: 0;
      right: 0;
      display: flex;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      width: 30px;
      height: 30px;
      top: 8px;
      right: 8px;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.1);
      color: #000;
      fill: currentColor;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &__close:hover,
    &__close:focus {
      color: var(--accent-color);
    }

    &__close-svg {
      width: 11px;
      height: 11px;
    }

    &__p {
      font-weight: 700;
      font-size: 20px;
      line-height: 1.15;
      text-align: center;
      margin-bottom: 12px;

      &--mobile {
        line-height: 1.5;
      }
    }

    &__form {
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &--mobile {
        display: block;
      }
    }

    &__label {
      display: block;
      text-align: left;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: var(--secondary-text-color);
      margin-bottom: 4px;
    }

    &__input--position {
      position: relative;
      margin-bottom: 10px;
      width: 100%;
    }

    &__input {
      display: block;
      width: 100%;
      height: 40px;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      padding-left: 42px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline-width: 0;
    }

    &__svg {
      position: absolute;
      left: 14px;
      top: 50%;
      transform: translateY(-50%);
      color: var(--primary-text-color);
      fill: currentColor;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &--name {
        width: 12px;
        height: 12px;
      }

      &--tel {
        width: 13px;
        height: 13px;
      }

      &--email {
        width: 15px;
        height: 12px;
      }
    }

    &__input:focus + .order__svg {
      color: var(--accent-color);
    }

    &__comment {
      display: block;
      width: 100%;
      height: 120px;
      resize: none;
      border: 1px solid rgba(33, 33, 33, 0.2);
      border-radius: 4px;
      margin-bottom: 20px;
      transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
      outline-width: 0;
    }

    &__comment::placeholder {
      padding: 12px 16px;
      font-size: 12px;
      line-height: 1.17;
      letter-spacing: 0.01em;
      color: rgba(117, 117, 117, 0.5);
    }

    &__input:focus,
    &__comment:focus {
      border: 1px solid var(--accent-color);
    }

    &__checkbox--position {
      margin-left: 14px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 425px;

      &--mobile {
        display: block;
        margin-left: 0;
        width: auto;
      }
    }

    &__tag-mobile {
      font-size: 0;
    }

    &__checkbox:checked + &__checkbox--custom {
      fill: var(--accent-color);
      background-color: var(--accent-color);
      border-color: var(--accent-color);
    }

    &__checkbox:focus + &__checkbox--custom {
      border-color: var(--accent-color);
    }

    &__checkbox--custom {
      width: 16px;
      height: 15px;
      border: 2px solid var(--primary-text-color);
      border-radius: 2px;
      fill: #fff;
    }

    &__span {
      font-size: 14px;
      line-height: 1.71;
      color: var(--secondary-text-color);

      &--mobile {
        font-size: 12px;
        line-height: 1.17;
      }
    }

    &__span--color {
      text-decoration-line: underline;
      color: var(--accent-color);
    }

    &__submit {
      margin-top: 30px;
      width: 200px;
      height: 50px;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
      border-radius: 4px;
      color: #fff;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 0.06em;
      background-color: var(--accent-color);
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      align-self: center;
    }

    &__submit:hover {
      background-color: #188ce8;
    }
  }
}
