.team-tablet__h2 {
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  font-weight: 700;
  margin-bottom: 30px;
}

.team-tablet__ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.team-tablet__li {
  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-tablet__li:nth-child(odd) {
  margin-right: 30px;
}

.team-tablet__li:nth-child(-n+2) {
  margin-bottom: 30px;
}

.team-tablet__div {
  padding: 30px 0;
}

.team-tablet__h3 {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}

.team-tablet__p {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--secondary-text-color);
  margin-bottom: 16px;
}

.team-tablet__cardset {
  display: flex;
  justify-content: center;
  list-style: none;
}

.team-tablet__item {
  width: 44px;
  height: 44px;
}

.team-tablet__item:not(:last-child) {
  margin-right: 10px;
}

.team-tablet__link {
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.team-tablet__link:hover,
.team-tablet__link:focus {
  background-color: var(--accent-color);
  color: #fff;
  fill: currentColor;
}

.team-tablet__svg {
  width: 20px;
  height: 20px;
  fill: currentColor;
}
