.we-do,
.we-do__h2,
.section__we-do {
  @media screen and (max-device-width: 767px) {
    display: none;
  }
  @media screen and (min-device-width: 768px) and (max-device-width: 1199px) {
    display: none;
  }
  @media screen and (min-device-width: 1200px) {
    display: flex;
    list-style: none;
    justify-content: center;
    &__h2 {
      font-size: 36px;
      line-height: 1.16;
      text-align: center;
      font-weight: 700;
      margin-bottom: 50px;
    }

    &__li:not(:last-child) {
      margin-right: 30px;
    }

    &__div {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      position: relative;
      z-index: -1;
    }

    &__p {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 70px;
      background-color: rgba(47, 48, 58, 0.8);
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      text-transform: uppercase;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
