:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent-color: #2196f3;
  --footer-bg-color: #2f303a;
  --gap: 30px;
  --font-logo: 'Raleway', sans-serif;
  --font-body: 'Roboto', sans-serif;
}
